body {
  padding-top: 56px;
}

header {
  background-image: url("img/header-image.jpg");
  background-repeat: none;
  background-position: center center;
  background-size: cover;
  text-align: center;
  color: white;
}

.intro-text {
  padding-top: 200px;
  padding-bottom: 300px;
  text-align: center;
}

.intro-lead-in {
  font-family: "Helvetica Neue", sans-serif;
  margin-bottom: 15px;
  font-size: 50px;
  text-align: center;
}

@media (max-width: 768px) {
  .intro-lead-in {
    font-size: 30px;
  }
}

.intro-heading {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-style: italic;
  line-height: 25px;
  margin-bottom: 50px;
}

section {
  padding: 0px 0;
}

h1 {
  padding: 50px;
}

.img-fluid {
  max-width: 50%;
}

i {
  padding-top: 50px;
  padding-right: 25px;
  padding-left: 25px;
  font-size: 300%;
}

.extra-bottom-padding {
  padding-bottom: 50px;
}

a {
  color: white;
}

a:hover {
  color: gray;
}

.tech-used {
  font-size: 14px;
}
